@keyframes pulsate {
  from {
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  to {
    opacity: 0%;
    transform: scale(1.25);
  }
}

.about {
  position: relative;
  background-color: #0a2850;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 100%;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

.about__title {
  position: absolute;
  max-width: 251px;
  top: 100px;
  left: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0px;
}

.about__content {
  margin: 119px 80px 173px auto;
  max-width: 660px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
