.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0 0 auto;
  font-style: normal;
  font-weight: 500;
}

.nav__list-item {
  margin-right: 20px;
}

.nav__list-item:last-child {
  margin-right: 0px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  transition: color 0.25s;
}

.nav__link:hover {
  color: #2f80ed;
}
