.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0px 0px 24px;
}

.recipes__subtitle {
  margin: 0px 0px 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px 0px 0px;
}

.recipes__caption-text {
  margin: 0px;
  padding: 0px;
}
